{
    "nrt": {
        "mode": "ssh",
        "ip": "192.168.0.XXX",
        "port": 22,
        "username": "root",
        "password": "YOUR_PASSWORD"
    },
    "rt": {
        "mode": "ssh",
        "ip": "192.168.0.XXX",
        "port": 1022,
        "username": "root",
        "password": "YOUR_PASSWORD"
    },
    "bbb": {
        "mode": "uart",
        "ip": "192.168.0.XXX",
        "username": "debian",
        "password": "YOUR_SSH_PASSWORD",
        "uart_port": "/dev/ttyUSB0",
        "baudrate": 115200,
        "uart_login": "root",
        "uart_password": "YOUR_UART_PASSWORD"
    },
    "macros": {
        "wifi": [
            "ip addr flush dev CE01",
            "ip addr add 192.168.0.101/24 dev CE01",
            "ip route replace default via 192.168.0.1 dev CE01"
        ],
        "check_status": [
            "uptime",
            "free -m"
        ],
        "kill": [
            "for p in start-rtaf.sh rtaf sq-rtaf-stripped; do for pid in $(ps | grep \"$p\" | grep -v grep | sed 's/^[ \\t]*//;s/[ \\t].*//'); do kill -9 $pid; done; done"
        ]
    }
}